pandas==1.1.5
numpy==1.19.5
requests==2.31.0
novelpy @ file:///C:/Users/valen/Documents/GitHub/novelpy
tqdm==4.62.3
pycountry_convert==0.7.2
geopy==2.4.1
scikit-learn==1.2.1
scipy==1.10.1
scispacy==0.5.4
seaborn==0.11.2
setuptools-scm==8.1.0
